.js-cpy{}
html{
     font-family: 'Merienda', cursive;
     font-family: arial	, sans-serif;
}
.container {
        width:100%;
	margin: 0 auto;
	padding: 0 15px;
}
.row {
	display:flex;
	flex-wrap:wrap;
	margin: 0 -15px;
}
.justify-content-around{
  justify-content: space-around;
}
.js-cpy{}
html{
     font-family: 'Merienda', cursive;
     font-family: arial	, sans-serif;
}
.container {
        width:100%;
	margin: 0 auto;
	padding: 0 15px;
}
.row {
	display:flex;
	flex-wrap:wrap;
	margin: 0 -15px;
}

.game{
  background-color:red;
  font-size:30px;
  font-weight:600;
  text-align:center;
}
.gameDesign{
     font-size: 40px;
    background-color: red;
    padding: 30px 100px;
}
.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.frontspace{
 position:absolute;
 top:24px;
 background-color:green;
 width:100%;
 height:105px;
}
.position-relative{
  position:relative;
}
